//## For each of Bootstrap's buttons, define text, background and border color.

$body-text-color: #575962;
$white-color: #ffffff;
$grey-color: #f1f1f1;
$black-color: #191919;
$transparent-bg : transparent;
$dark-color : #1a2035;
$dark2-color : #1f283e;
$primary-color : #177dff;
$primary2-color : #1872e4;
$secondary-color : #716aca;
$secondary2-color : #6761b5;
$info-color : #36a3f7;
$info2-color : #3393dd;
$success-color : #35cd3a;
$success2-color : #33b837;
$warning-color : #ffa534;
$warning2-color : #fb9515;
$danger-color : #f3545d;
$danger2-color : #ea4d56;

// Font Weight
$font-weight-light : 300;
$font-weight-normal : 400;
$font-weight-bold : 600;
$font-weight-extrabold : 700;